body {
    margin: 0px;
    text-align: center;
    font-size: 14px;
    background-image: url('../img/kindajean.png');
}

p {
    margin: auto;
}

#container {
    margin: auto;
    margin-bottom: 100px;
    width: 1400px;
    text-align: left;
    overflow:auto;
}

#index {
    text-align: center;
    position: fixed;
    top: 0%;
    bottom: 0%;
    width: 400px;
    background-image: url('../img/footer_lodyas.png');
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

#index-header {
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#index-header h1 {
    margin: 0px;
    margin-bottom: 8px;
}

#index-body {
    text-align: left;
    margin: 4px;
    padding: 8px;
    background-color: white;
    overflow-y: auto;
    border-radius: 2px;
    box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.index-entry {
    padding: 2px;
    margin-bottom: 2px;
}

.index-entry-indent-1 {
    margin-left: 12px;
}

#content {
    float: right;
    width: 1000px;
    padding: 10px;
}

.section {
    padding:0px;
    margin-bottom:20px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.section-header {
    background: rgba(50,50,50,0.8);
    padding: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.section-body {
    background-color: white;
    padding: 10px;
}

.subsection {
    margin-bottom: 8px;
}

.subsection-header{
    font-size: 18px;
}

.subsection-body {
    padding: 4px;
}

.subsection-box {
    margin: 2px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.subsection-box-header {
    padding: 4px;
    padding-left: 8px;
    background: rgba(50,50,50,0.8);
    color: white;
    text-shadow: 1px 1px 1px black;
}

.subsection-box-header .glyphicon {
    margin-right: 2px;
}

.subsection-box-body {
    padding: 4px;
    background-color: #CFDFEF;
    border-bottom: 1px solid #AFBFCF;
}

.subsection-box-info .subsection-box-header {
    background: rgba(100,130,190,0.8);
}

.subsection-box-warning .subsection-box-header {
    background: rgba(190,100,100,0.8);
}

.subsection-box-warning .subsection-box-body {
    background: rgba(250,200,200,0.8);
}

.section-separator {
    border-bottom: 1px solid #AFBFCF;
    margin-bottom: 8px;
}

.section-footer {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    background: rgba(50,50,50,0.8);
    color: white;
}

.section-footer-right {
    float: right;
}

.section-footer a:link {color: white;}


/* table adjustments */

.table-nonfluid {
    width: auto !important;
}

.table thead {
    font-size: 13px;
    font-weight: bold;
    background-color: #CFDFEF;
}

.table {
  border: 0.5px solid #AFBFCF;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid #AFBFCF;
}

/* Compatibility fix for Boostrstrap and SyntaxHighlighter */

.syntaxhighlighter table .container:before {
    display: none !important;
}
